html{
  height:100%;
}
body {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-image: linear-gradient(to top, #2C2C2D 0%, #0A1330 100%);
}
.header {
  position: fixed;
  left:0;
  right:0;
  margin:auto;
  top: 50%;
  transform: translate(0%,-50%);
  border-radius: 10px;
  background-color: white;
  width:33%;
  padding: 20px;
  background-color: #cd4f39;
  color: white;
  box-shadow: 5px 5px 2px #084c8d;
}

.test{
  position:relative;
}

#logInButton{
  background-color: #084c8d;
  color: white;
  border: none;
  display:inline;
}

#registerButton{
  background-color: #00ff00;
  /*border: solid #084c8d;*/
  color:black;
  padding: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 5px;
  font-size: 16px;
}

#password{
  margin-top: 20px;
}

.modal-content{
  background-image: linear-gradient(to top, #2C2C2D 0%, #000000 100%);
  color:white;
  box-shadow: 0px 5px 15px;
}

#warningUserName {
  color: #353332;
  font-size: 21px;
}

#newUserFormGroup{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
#newUserPassWord{
  margin-top: 10px;
}
#newUserEmail{
  margin-top: 10px;
}

@media(max-width:768px){
.header{
  width:80%;
}
