html{
  height:100%;
}
body {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-image: linear-gradient(to top, #2C2C2D 0%, #0A1330 100%);
}
.header {
  position: fixed;
  left:0;
  right:0;
  margin:auto;
  top: 50%;
  transform: translate(0%,-50%);
  border-radius: 10px;
  background-color: white;
  width:33%;
  padding: 20px;
  background-color: #cd4f39;
  color: white;
  box-shadow: 5px 5px 2px #084c8d;
}

#password{
  margin-top: 20px;
}

#warningUserName {
  color: #353332;
  font-size: 21px;
}

@media(max-width:768px){
.header{
  width:80%;
}
