<!DOCTYPE html>
<html>
  <head>
    <title>Wildlife Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container header">
      <form action="/login/validate">
        <div class=" form-group">
          <label for="userID"><h1>Wise Commute</h1></label>
          #if($userNameTaken)
          <h5 id="warningUserName">That User Name is already taken</h5>
          #end
          #if($warning)
            <h5 id="warningUserName">You entered a wrong password or username</h5>
          #end
          <input id="user" class="form-control" name="userName" placeholder='Enter your username' required>
          <input id="password" class="form-control" name="userPassword" placeholder='Enter your password' type="password"  required>

        </div>
        <button type="submit" class="btn btn-default btn-lg" id="logInButton"> Log In </button>
        <button class="btn btn-default btn-lg" data-toggle="modal" data-target="#registerModal" id="registerButton"> Register</button>
      </form>
    </div>

    <!-- modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="registerModalLabel">Join the Wise Commute Community!</h4>
          </div>
          <form action="/login/register" method="post">
            <div class="modal-body">
              <div class=" form-group" id="newUserFormGroup">
                <!-- #if($userNameTaken)
                  <h5 id="warningUserName">That User Name is already taken</h5>
                #end -->
                <input id="newUserName" class="form-control" name="newUserName" placeholder='create your username' required>
                <input id="newUserPassWord" class="form-control" name="newUserPassWord" placeholder='create your password' type="password"  required>
                <input id="newUserEmail" class="form-control" name="newUserEmail" placeholder='enter your email' type="email"  required>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-default" id="reportSubmitButton">Submit</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- modal -->
  </body>
</html>
